<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <meta name="keywords" content="software development, services, trackgenix, GigaTech Solutions, Systems">
        <meta name="description" content="Time registration system for GigaTech Software Solutions SA employees">
        <meta property="og:title" content="Trackgenix">
        <meta property="og:description" content="Time registration system for GigaTech Software Solutions SA employees">
        <meta property="og:type" content="website" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/form.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/employee-signup.css">
        <script src="../javascript/employee-signup.js"></script>
    </head>
    <body>
        <header class="signUpHeader" >
            <h1>TRACKGENIX</h1>
        </header>
        <main class="signUpMain">
            <div class="signUp-title">
                <a href="index.html"><img src="../../assets/svg/Arrow.svg" alt="Arrow"></a>
                <div>
                    <h2>SIGN UP</h2>
                </div>
            </div>
            <form>
                <div>
                    <div>
                        <label>Name</label>
                        <input id="name" type="text" name="name" placeholder="Name" id="name">
                        <span id="nameOk"></span>
                    </div>
                    <div>
                        <label>Last Name</label>
                        <input id="lastName" type="text" name="lastName" placeholder="Last Name" id="lastName">
                        <span id="lastNameOk"></span>
                    </div>
                </div>
                <div>
                    <div>
                        <label>DNI</label>
                        <input id="dni" type="text" name="dni" placeholder="DNI" id="dni">
                        <span id="dniOk"></span>
                    </div>
                    <div>
                        <label>Date of birth</label>
                        <input id="dateBirth" type="date" name="dateBirth" id="dateBirth">
                        <span id="dateBirthOk"></span>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Phone</label>
                        <input id="phone" type="text" name="phone" placeholder="Phone" id="phone">
                        <span id="phoneOk"></span>
                    </div>
                    <div>
                        <label>Address</label>
                        <input id="address" type="text" name="address" placeholder="Address" id="address">
                        <span id="addressOk"></span>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Location</label>
                        <input id="location" type="text" name="location" placeholder="Location" id="location">
                        <span id="locationOk"></span>
                    </div>
                    <div>
                        <label>Zip Code</label>
                        <input id="zipCode" type="text" name="zipCode" placeholder="Zip Code" id="zipCode">
                        <span id="zipCodeOk"></span>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Email</label>
                        <input id="email" type="text" name="email" placeholder="Email" id="email">
                        <span id="emailOk"></span>
                    </div>
                    <div>
                        <label>Repeat email</label>
                        <input id="repeatEmail" type="text" name="repeatEmail" placeholder="Repeat email" id="repeatEmail">
                        <span id="repeatEmailOk"></span>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Password</label>
                        <input id="password" type="password" name="password" placeholder="Password" id="password">
                        <span id="passwordOk"></span>
                    </div>
                    <div>
                        <label>Repeat password</label>
                        <input id="repeatPassword" type="password" name="repeatPassword" placeholder="Repeat password" id="repeatPassword">
                        <span id="repeatPasswordOk"></span>
                    </div>
                </div>
                <input class="signUpBtn" type="submit" value="SignUp">
            </form>
        </main>
        <footer class="signUpFooter">
            <div>
                <a href="#"><img src="../../assets/svg/twitter.svg" alt="Twitter"></a>
                <a href="#"><img src="../../assets/svg/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="../../assets/svg/linkedIn.svg" alt="LinkedIn"></a>
                <a href="#"><img src="../../assets/svg/instagram.svg" alt="Instagram"></a>
                <a href="#"><img src="../../assets/svg/github.svg" alt="Github"></a>
            </div>
            <div>
                <p>Rosario, Argentina</p>
                <p>Copyright © 2022 GigaTech Software Solutions SA.</p>
                <p>All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>