<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <meta name="keywords" content="software development, services, trackgenix, GigaTech Solutions, Systems">
        <meta name="description" content="Time registration system for GigaTech Software Solutions SA employees">
        <meta property="og:title" content="Trackgenix">
        <meta property="og:description" content="Time registration system for GigaTech Software Solutions SA employees">
        <meta property="og:type" content="website" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/hero-section.css">
        <link rel="stylesheet" href="../styles/features.css">
        <link rel="stylesheet" href="../styles/whyUse.css">
        <link rel="stylesheet" href="../styles/form.css">
        <link rel="stylesheet" href="../styles/ourHistory.css">
        <link rel="stylesheet" href="../styles/footerSec.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/login.css">
        <script src="../javascript/app.js"></script>
    </head>
    <body>
        <header>
            <img class="burgerBtn" src="../../assets/svg/burguerBtn.svg" alt="Burger button">
            <div>
                <img class="search" src="../../assets/svg/Search.svg" alt="Search">
                <input type="search">
            </div>
        </header>
        <aside>
            <nav>
                <h3>Menu</h3>
                <ul>
                    <li><a href="../views/index.html">Home</a></li>
                    <li><a href="../views/sign-up.html">SignUp</a></li>
                    <li><a href="../views/login.html">Login</a></li>
                </ul>
                <h3>Contact</h3>
                <div>
                    <img class="email" src="../../assets/svg/email.svg" alt="Email">
                    <a href="#">trackgenix@gmail.com</a>
                </div>
                <div>
                    <img class="phone" src="../../assets/svg/phone.svg" alt="Phone">
                    <a href="#">(+54) 4545-9999</a>
                </div>
                <div>
                    <img class="home" src="../../assets/svg/home.svg" alt="Home">
                    <a href="#">1234 Somewhere Road #8254 Nashville.</a>
                </div>
            </nav>
        </aside>
        <main class="login">
            <h1>TRACKGENIX</h1>
            <h2>Let's start?</h2>
            <form>
                <input type="text" name="email" placeholder="Email" id="email">
                <input type="text" name="password" placeholder="Password" id="password">
                <input type="submit" value="Login" class="loginBtn">
            </form>
        </main>
        <footer class="footerLogin">
            <div>
                <a href="#"><img src="../../assets/svg/twitter.svg" alt="Twitter"></a>
                <a href="#"><img src="../../assets/svg/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="../../assets/svg/linkedIn.svg" alt="LinkedIn"></a>
                <a href="#"><img src="../../assets/svg/instagram.svg" alt="Instagram"></a>
                <a href="#"><img src="../../assets/svg/github.svg" alt="Github"></a>
            </div>
            <div>
                <p>Rosario, Argentina</p>
                <p>Copyright © 2022 GigaTech Software Solutions SA.</p>
                <p>All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>