<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <meta name="keywords" content="software development, services, trackgenix, GigaTech Solutions, Systems">
        <meta name="description" content="Time registration system for GigaTech Software Solutions SA employees">
        <meta property="og:title" content="Trackgenix">
        <meta property="og:description" content="Time registration system for GigaTech Software Solutions SA employees">
        <meta property="og:type" content="website" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/form.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/login.css">
        <script src="../javascript/login.js"></script>
    </head>
    <body>
        <header class="loginHeader" >
            <h1>TRACKGENIX</h1>
        </header>
        <main class="loginMain">
            <div class="login-title">
                <a href="index.html"><img src="../../assets/svg/Arrow.svg" alt="Arrow"></a>
                <h2>LOGIN</h2>
            </div>
            <form>
                <p>Email</p>
                <input id="email" type="text" name="email" placeholder="Email" id="email">
                <span id="emailOk"></span>
                <p>Password</p>
                <input id="password" type="text" name="password" placeholder="Password" id="password">
                <span id="passwordOk"></span>
                <div>
                    <p> Don’t have an account? <a href="sign-up.html">SIGN UP</a></p>
                    <p><a href="#">Forgot your password?</a></p>
                </div>
                <input class="loginBtn" type="submit" value="Login">
            </form>
        </main>
        <footer class="loginFooter">
            <div>
                <a href="#"><img src="../../assets/svg/twitter.svg" alt="Twitter"></a>
                <a href="#"><img src="../../assets/svg/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="../../assets/svg/linkedIn.svg" alt="LinkedIn"></a>
                <a href="#"><img src="../../assets/svg/instagram.svg" alt="Instagram"></a>
                <a href="#"><img src="../../assets/svg/github.svg" alt="Github"></a>
            </div>
            <div>
                <p>Rosario, Argentina</p>
                <p>Copyright © 2022 GigaTech Software Solutions SA.</p>
                <p>All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>