.hero-section {
    margin: 30px 0 0 0;
}
.hero-section h1 {
    margin: 5px 0 0 0;
    color: #373867;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    order: 0;
}

.hero-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section div h5 {
    margin: 5px 0 0 0;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    color: #AACE9B;
    order: 0;
}

.hero-section div p {
    text-align: center;
    padding: 0 15px;
    margin: 5px 0 0 0;
    font-size: 0.875rem;
    color: #373867;
    order: 3;
    text-align: center;
}

.hero-section button {
    display: none;
    /* width: 166px;
    height: 72px;
    background: #FFFFFF;
    border: 3px solid #AACE9B;
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #AACE9B; */
}

.hero-section div img {
    width: 155px;
    height: 144px;
    margin: 5px 0 0 0;
}