.ourHistory h4 {
    width: 80px;
    margin: 0 0 20px 40px;
    padding: 0 0 14px 0;
    font-weight: 700;
    font-size: 1rem;
    border-bottom: 3px solid #AACE9B;
    color: #373867;
    transition: all .5s ease;
}
.ourHistory article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 331px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 0.875rem;
    color: #373867;
    transition: all .5s ease;
}
.ourHistory img {
    width: 285px;
    height: 155px;
    margin: 25px 0 0 0;
    transition: all .5s ease;
}
@media screen and (min-width: 834px) {
    .ourHistory h4 {
        width: 155px;
        font-size: 2rem;
        border-bottom: 5px solid #AACE9B;
        transition: all .5s ease;
    }
    .ourHistory article{
        width: 742px;
        font-size: 1.5rem;
        text-align: center;
        transition: all .5s ease;
    }
    .ourHistory article p:nth-child(4), .ourHistory article p:nth-child(5)  {
        display: none;
    }
    .ourHistory img {
        width: 500px;
        height: 250px;
        margin: 25px 0 0 0;
        transition: all .5s ease;
    }
}