* {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

header {
    position: fixed;
    top:0;
    width: 100%;
    height: 126px;
    background: #AACE9B;
    z-index: 100;
}

header img {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 46px;
    top: 41px;
}

header img:hover {
    cursor: pointer;
}

header div {
    position: relative;
    left: 568px;
    top: 45px;
    width: 10px;
}

.search {
    position: absolute;
    left: 15px;
    bottom: 8px;
}

header input {
    width: 377px;
    height: 36px;
    background: #D8E7EB;
    border: 1px solid #D6D6D6;
    border-radius: 50px;
}

aside {
    position: fixed;
    top: 126px;
    font-family: 'Roboto', sans-serif;
    width: 397px;
    height: 100%;
    padding-top: 80px;
    border-right: 2px solid #BFBFBF;
}

aside ul {
    list-style: none;
}

aside .nav-list li {
    margin: 36px 0;
    padding-bottom: 36px;
    border-bottom: 2px solid #BFBFBF;
}

aside nav .nav-list li:nth-child(1) {
    padding-top: 36px;
}

aside .nav-contact-list a{
    width: 264px;
    height: 29px;
    font-size: 25px;
    line-height: 29px;
    color: #373867;
    margin-left: 50px;
}

.email {
    position: relative;
    left: 55px;
    top: 107px;
}

.phone {
    position: relative;
    left: 55px;
    top: 107px;
}

.home {
    position: relative;
    left: 55px;
    top: 107px;
}

aside nav .nav-contact-list li:nth-child(3) a {
    padding-left: 50px;
    width: 264px;
    height: 114px;
}

aside a {
    text-decoration: none;
    padding-left: 55px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}

aside h3 {
    width: 100px;
    height: 33px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
    margin-left: 55px;
    padding-bottom: 33px;
    border-bottom: 3px solid #AACE9B;
}

.hero-section {
    height: 734px;
}

.hero-section h1{
    margin-left: 425px;
    padding-top: 191px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.3em;
    color: #373867;
}

.hero-section h5 {
    margin-left: 425px;
    margin-top: 27px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #AACE9B;
}

.hero-section p {
    width: 617px;
    height: 62px;
    margin-left: 425px;
    margin-top: 36px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
}

.hero-section img {
    position: relative;
    padding-right: 35px;
    left: 1019px;
    bottom: 191px;
}

.hero-section button {
    position: relative;
    left: 425px;
    bottom: 367px;
    width: 166px;
    height: 72px;
    background: #FFFFFF;
    border: 3px solid #AACE9B;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #AACE9B;
}

.features {
    margin-left: 437px;
}

.features h4{
    width: 127px;
    padding-bottom: 14px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #373867;
    border-bottom: 3px solid #AACE9B;
}

.features article {
    height: 92px;
    margin-bottom: 66px;
}

.features div {
    float: left;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.features article:nth-child(1) img{
    float: left;
    margin-right: 50px;
}
.features article:nth-child(1) p{
    padding-left: 175px;
    padding-top: 35px;
    font-weight: 700;
    font-size: 24px;
    color: #373867;
}

.features article:nth-child(2) img{
    float: left;
    margin-right: 50px;
}

.features article:nth-child(2) p{
    padding-left: 175px;
    padding-top: 35px;
    font-weight: 700;
    font-size: 24px;
    color: #373867;
}

.features div:nth-child(2) article:nth-child(2) p:nth-child(2){
    width: 194.82px;
    height: 66.68px;
    padding-left: 175px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 24px;
    color: #373867;
}

.features article:nth-child(3) img{
    float: left;
    margin-right: 50px;
}
.features article:nth-child(3) p{
    padding-left: 175px;
    padding-top: 35px;
    font-weight: 700;
    font-size: 24px;
    color: #373867;
}

.whyUse {
    margin-left: 437px;
}

.whyUse h4 {
    position: absolute;
    left: 440px;
    top: 1174px;
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 14px;
    border-bottom: 4px solid #AACE9B;
    color: #373867;
}

.whyUse img {
    clear: both;
    float: left;
}

.whyUse article ul {
    margin-top: 450px;
    margin-left: 450px;
    list-style-image: url('/Semana-02/assets/svg/Vector.svg');
}

.whyUse article ul li {
    padding: 22px 0 22px 30px;
    font-weight: 700;
    font-size: 24px;
    color: #373867;
}

form {
    clear: both;
}
