*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 1512px;
    height: 126px;
    background: #AACE9B;
}

header img {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 46px;
    top: 41px;
}

header img:hover {
    cursor: pointer;
}

header input{
    position: absolute;
    width: 377px;
    height: 36px;
    left: 568px;
    top: 45px;
    background: #D8E7EB;
    border: 1px solid #D6D6D6;
    border-radius: 50px;
}

aside {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

aside a {
    text-decoration: none;
}

aside nav {
    box-sizing: border-box;
    position: absolute;
    width: 397px;
    height: 100vh;
    top: 126px;
    background: #FFFFFF;
    border-right: 2px solid #BFBFBF;
}

nav .nav-title-menu {
    position: absolute;
    left: 55px;
    top: 80px;
    width: 100px;
    height: 33px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}

aside nav .nav-line-menu {
    position: absolute;
    width: 100px;
    height: 0px;
    left: 55px;
    top: 145.5px;
    background-color: #AACE9B;
    border: 3px solid #AACE9B;
}

aside nav .nav-list li:nth-child(1) a {
    position: absolute;
    left: 55px;
    top: 212px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}

aside nav .nav-list li:nth-child(2) a {
    position: absolute;
    left: 55px;
    top: 329px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}

aside nav .nav-list li:nth-child(3) a {
    position: absolute;
    left: 55px;
    top: 446px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}

.nav-title-contact {
    position: absolute;
    left: 55px;
    top: 563px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
}

.nav-line-contact {
    position: absolute;
    width: 100px;
    height: 0px;
    left: 55px;
    top: 628px;
    background-color: #AACE9B;
    border: 3px solid #AACE9B;
}

aside nav .nav-contact-list li:nth-child(1) a {
    position: absolute;
    left: 113px;
    top: 657px;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #373867;
}

aside nav .nav-contact-list li:nth-child(2) a {
    position: absolute;
    left: 113px;
    top: 702px;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #373867;
}

aside nav .nav-contact-list li:nth-child(3) a {
    position: absolute;
    left: 113px;
    top: 742px;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #373867;
}

.hero-section h1 {
    position: absolute;
    width: 473px;
    height: 44px;
    left: 425px;
    top: 191px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.3em;
    color: #373867;
}

.hero-section h5 {
    position: absolute;
    width: 565px;
    height: 26px;
    left: 425px;
    top: 272px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #AACE9B;
}

.hero-section img {
    position: absolute;
    width: 458px;
    height: 449px;
    left: 1019px;
    top: 191px;
}

.hero-section p {
    position: absolute;
    width: 617px;
    height: 62px;
    left: 425px;
    top: 334px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
}

.hero-section button {
    position: absolute;
    left: 425px;
    top: 432px;
    padding: 14px 36px;
    background: #FFFFFF;
    border: 3px solid #AACE9B;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #AACE9B;
}